<div class="container">
  <h3>Awards</h3>

  <ul class="alt" style="margin-top: 1.25em;">
    <li>
      <strong>Dec 2025:</strong>
      <a href="https://kist.re.kr/sharing/index.do" target="_blank" rel="noopener">KIST Future Foundation</a>
      &amp;
      <a href="https://scholarship.ktngtogether.com/index.do" target="_blank" rel="noopener">KT&amp;G</a>
      Scholarship
    </li>
    <li>
      <strong>Nov 2023:</strong>
      <a href="https://www.kipa.org/cpu/1_info_01.jsp" target="_blank" rel="noopener">Campus Patent Universiade</a> –
      <a href="https://www.samsungsem.com/global/index.do" target="_blank" rel="noopener">Samsung Electro Mechanics</a>
      CEO Award
    </li>
    <li>
      <strong>Nov 2022:</strong>
      <a href="https://www.kipa.org/cpu/1_info_01.jsp" target="_blank" rel="noopener">Campus Patent Universiade</a> –
      <a href="https://www.lgdisplay.com/eng" target="_blank" rel="noopener">LG Display</a>
      CEO Award
    </li>
    <li>
      <strong>Nov 2021:</strong>
      <a href="https://www.kipa.org/cpu/1_info_01.jsp" target="_blank" rel="noopener">Campus Patent Universiade</a> –
      KIPA President’s Award (Provided by
      <a href="https://www.samsung.com/us/" target="_blank" rel="noopener">Samsung Electronics</a>)
    </li>
  </ul>
</div>
