<div class="container">
  <h3>News</h3>

  <ul class="alt">
    <li><strong>Dec 2025:</strong> Awarded the KIST Future Foundation–KT&amp;G Scholarship. 🎉</li>
    <li>
      <strong>May 2025:</strong>
      One paper got accepted to
      <a href="https://2025.ieeeicip.org/" target="_blank" rel="noopener">ICIP 2025</a>! 🎉
    </li>
    <li><strong>Dec 2024:</strong> Conference presentation at RITA 2024. 🎉</li>
    <li>
      <strong>May 2024:</strong>
      Late Breaking Results presentation at
      <a href="https://2024.ieee-icra.org/" target="_blank" rel="noopener">ICRA 2024</a>! 🎉
    </li>
    <li><strong>Sep 2023:</strong> Joined HARILAB at KIST for my Master's degree.</li>
  </ul>
</div>
