{% if site.linkedin %}
<a href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener" aria-label="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="label">LinkedIn</span></a>
{% endif %}

{% if site.github %}
<a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener" aria-label="GitHub"><i class="fa fa-github" aria-hidden="true"></i><span class="label">GitHub</span></a>
{% endif %}

{% if site.google_scholar %}
<a href="https://scholar.google.com/{{ site.google_scholar }}" target="_blank" rel="noopener" aria-label="Google Scholar"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span class="label">Google Scholar</span></a>
{% endif %}

{% if site.twitter %}
<a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener" aria-label="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span class="label">Twitter</span></a>
{% endif %}

{% if site.youtube %}
<a href="https://youtube.com/@{{ site.youtube }}" target="_blank" rel="noopener" aria-label="YouTube"><i class="fa fa-youtube" aria-hidden="true"></i><span class="label">YouTube</span></a>
{% endif %}

{% if site.email %}
<a href="mailto:{{ site.email }}" aria-label="Email"><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="label">Email</span></a>
{% endif %}
